 <div class="reviews-parent">

  {{ $reviews := getJSON "/data/reviews.json" }}
  <div class="reviews-slider disable-scrollbars">
     {{ range $reviews }}


    <div  id="_review8" itemprop="review" itemscope itemtype="http://schema.org/Review" class="review">

      <img src="{{ .author_image }}" alt="review profile photo"class='rev-profile' loading="lazy" referrerpolicy="no-referrer">

      <p class="rev-text light regular"> <span itemprop="reviewBody"> {{ .review_text }} </span> </p>
      <div class="rating">
        <p hidden class='rating-number'> {{ .review_rating }}</p>
      </div>

      <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><h5 class="rev-name"> {{ .author_title }} </h5></span></span>
      <br>
      <p class="rev-date"> {{ .review_date_time_utc }} </p>


    </div>
    {{end}}

  </div>
  <img src="/images/rev-arrow.svg" alt="" id="left-arrow">
  <img src="/images/rev-arrow.svg" alt="" id="right-arrow">
  <a href="https://g.page/r/CSzLUmGvUK3OEA0/review" target="_blank" class="main--btn">Leave Feedback</a>
</div>

<script type="text/javascript">

  //adds the correct amount of stars to the review
   let reviews = document.querySelectorAll('.review')
   var i;

   for(i=0; i < reviews.length; i++){
     reviews[i].classList.add(i)
   }

   for (i=0; i<15; i++){
     review = document.getElementsByClassName(i)
     let rating = review[0].children[3].innerHTML
     let ratingNumber = Number(rating);
     let starParent = review[0].children[0];
     for (r=0; r<ratingNumber; r++){
       starParent.innerHTML += "<img src='/images/star.svg' alt='star rating'>"
     }



   }


</script>
